.app {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    color: #333;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
