.genre-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.genre-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.genre-button.selected {
    background-color: #6200ea;
}

.genre-button:hover {
    background-color: #3700b3;
}
